---

import { siteConfig, expressiveCodeConfig } from "../config";
---

<!-- 全局配置载体 -->
<div id="config-carrier" data-hue={siteConfig.themeColor.hue} data-hide-code-blocks-during-transition={expressiveCodeConfig.hideDuringThemeTransition ? "true" : "false"}>
</div>

<!-- 引入Umami Share工具脚本 -->
<script is:inline src="/js/umami-share.js"></script>